<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container mb-3">
        <div class="jumbotron">
            <h1>Node Board</h1>
            <p>노드 보드로 만들 게시판 입니다</p>
        </div>
    </div>
</body>
</html>