<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-1 pl-2 pr-2">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/posts">Board</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= post.title %></li>
            </ol>
        </nav>
    </div>
</body>
</html>